.example-spacer {
    flex: 1 1 auto;
}

.subHeading {
    margin-top: 50px;
}

.cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px
}

.example-card {
    width: 40%;
    margin-top: 50px;
}

.imgData {
    margin-left: 30px;
    height: 350px;
    width: 90%;
}

.descriptionData {
    height: 100px;
    text-align: justify;
    overflow-y: scroll;
    border: 2px solid gainsboro;
    border-radius: 5px;
}

.btnSetting {
    margin-left: 20px;
}