<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span>ECOM-Dinesh</span>
    <span class="example-spacer"></span>
    <div class="example-button-container">
        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
</mat-toolbar>

<div class="subHeading" fxLayout="row" fxLayoutAlign="space-between center">

    <h1 style="font-size: 30px;" fxFlexOffset="10">All Products</h1>
    <button style="margin-right: 10%;" mat-raised-button color="primary" (click)="createProduct()">CREATE PRODUCT</button>
</div>
<div class="cards">
    <mat-card class="example-card" *ngFor="let datas of httpdata ">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image "></div>
            <mat-card-content>
                <h4>Product Name</h4> {{datas.title}}</mat-card-content>
        </mat-card-header>
        <img mat-card-image class="imgData" src="{{datas.image}}">
        <mat-card-content>
            <h4>$ {{datas.price}}</h4>
            <div class="descriptionData">{{datas.description}}</div>
        </mat-card-content>
        <mat-card-actions>
            <div class="btnSetting">
                <button mat-stroked-button color="primary" (click)="editProduct()">Edit</button>
                <button mat-stroked-button color="primary" (click)="confirmDialog()">Delete</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>