<button mat-icon-button class="close-button" [mat-dialog-close]>
    <mat-icon class="close-icon" color="gray">close</mat-icon>
  </button>
<mat-card class="example-card">
    <p>
        Are you sure you want to delete this Product?

    </p>



    <mat-card-actions class="btnAction">
        <button mat-stroked-button color="primary" [mat-dialog-close]>Cancel</button>
        <button mat-stroked-button color="primary" (click)='deleteProduct()' [mat-dialog-close]>Delete</button>
    </mat-card-actions>
</mat-card>