    .example-container .mat-form-field+.mat-form-field {
        margin-left: 8px;
    }
    
    .example-right-align {
        text-align: right;
    }
    
    input.example-right-align::-webkit-outer-spin-button,
    input.example-right-align::-webkit-inner-spin-button {
        display: none;
    }
    
    input.example-right-align {
        -moz-appearance: textfield;
    }
    
    .inputField {
        margin-top: 50px;
    }
    
    .btnLogin {
        width: 25%;
        margin: 0 auto;
    }
    
    .heading {
        margin-bottom: 40px;
        font-size: 35px;
        text-align: center;
    }
    
    .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
    }
    
    .loginPage {
        margin-top: 30px;
    }