<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
    <span>ECOM-Dinesh</span>


</mat-toolbar>
<div class="loginPage" fxLayoutAlign="center" fxFlexFill>
    <mat-card style="height: 280px;" fxFlex="25">
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
            <h1 class="heading">Login</h1>
            <mat-form-field>
                <input matInput placeholder="UserName" formControlName="username">
                <!-- <input matInput placeholder="UserName" [type]="hide ? 'password' : 'text'" formControlName="username" required> -->
                <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                <mat-error *ngIf="!username.valid && username.touched">Enter your Name</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="!password.valid && password.touched">Enter your Password</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="button btnLogin" [disabled]="!formGroup.valid">Login</button>
        </form>
    </mat-card>
</div>