<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<button mat-button>Basic</button>
<p>
    <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
</p>

<p>
    <span matBadge="1" matBadgeSize="large">Text with large badge</span>
</p>