<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
    <span>ECOM-Dinesh</span>
</mat-toolbar>


<div class="subHeading" fxLayoutAlign="center " fxFlexFill>
    <mat-card fxFlex="30">
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
            <h1 class="heading" style="font-size: 40px;text-align: center;">Edit Product</h1>

            <mat-form-field class="form-element">
                <input matInput placeholder="Title" formControlName=" title">
                <mat-error *ngIf="!title.valid && title.touched">
                    {{ alertPrductTitle }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput type="number" formControlName="price">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
                <mat-error *ngIf="!price.valid && price.touched">
                    {{ alertAmount }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Enter Some description about product</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="!description.valid && description.touched">
                    {{ alertDescription }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="Image Url" formControlName="image">
                <mat-error *ngIf="!image.valid && image.touched">
                    {{ imageError }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="Category" formControlName="category">
                <mat-error *ngIf="!category.valid && category.touched">
                    {{ categoryError }}
                </mat-error>
            </mat-form-field>
            <button style="margin-top: 20px;" mat-raised-button color="primary" type="submit" class="button btnLogin" [disabled]="!formGroup.valid">Update Product</button>
        </form>
    </mat-card>
</div>